*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border-collapse: separate; */
}
:root {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}
.avatarMichelle {
    border-radius: 50%;
    /* transform: translateY(300%); */
    width: 17%;
    /* grid-column: 1/ span 1;
    grid-row: 1/ span 1; */
}
.avatarNameShareContainer {
    display: flex;
    margin: 3.2rem 0 1.8rem;
    padding: 0 3.4rem;
    transition: transform 500ms;
    /* position: absolute; */
    
}
body {
    align-items: center;
    background-color: var(--LightGrayishBlue);
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    min-height: 100vh;
}
.card {
    border-radius: 1rem;
    background-color: white;
    margin: 0 1.5rem;
    max-width: 32.5rem;
    position: relative;
    /* overflow: hidden; */
}
.contentContainer {
    /* padding: 0 3.4rem 2.5rem; */
    
}
.date {
    color: var(--GrayishBlue);
}
h1 {
    color: var(--VeryDarkGrayishBlue);
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
    padding: 0 3.4rem 0;
}
.headerImage {
    width: 100%;
    display: block;
}
.headerImageContainer {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    height: 21.5rem;
    margin-bottom: 4rem;
}
.iconShare2 {
    /* Making arrow white */
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1095%) hue-rotate(310deg) brightness(120%) contrast(100%);
}
.iconShareContainer {
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LightGrayishBlue);
    width: 3.2rem;
    height: 3.2rem;
    margin-left: auto;
}
.iconShareContainer2 {
    align-items: center;
    background-color: var(--DesaturatedDarkBlue);
    border-radius: 50%;
    display: flex;
    height: 3.2rem;
    justify-content: center;
    width: 3.2rem;
    margin-left: auto;
}
.name {
    color: var(--VeryDarkGrayishBlue);
    font-weight: 700;
    margin-bottom: .3rem;
}
.nameDateContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.7rem;
}
p {
    color: var(--DesaturatedDarkBlue);
    line-height: 1.6;
    padding: 0 3.4rem 0;
}
.poop {
    color: var(--GrayishBlue);
    letter-spacing: .5rem;
}
.poop, .facebookIcon, .twitterIcon {
    margin-right: 1.7rem;
}
.shareAndSocialIconContainer {
    align-items: center;
    background-color: var(--VeryDarkGrayishBlue);
    display: flex;
    top: 85%;
    margin-top: 2rem;
    padding: 2rem 3.4rem;
    position: absolute;
    transition: transform 0s;
    transform: translateX(-100%);
}
.share .avatarNameShareContainer {
    position: absolute;
    transform: translateX(100%);
}
.share .shareAndSocialIconContainer {
    /* background-color: var(--VeryDarkGrayishBlue); */
    position: static;
    transform: translateX(0);
    transition: transform 500ms;
    /* transition: transform 3s; */
    /* margin-left: auto; */
    
}

/* Media Queries */

@media screen and (min-width: 969px) {
    .avatarMichelle {
        width: 10%;
    }
    .avatarNameShareContainer {
        margin-top: 1.8rem;
    }
    .avatarNameShareContainer, h1, p {
        padding: 0 3.8rem 0 3.6rem;
    }
    .card {
        display: flex;
        max-width: 73rem;
        /* overflow: visible; */
    }
    .contentContainer {
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1.1rem;
        margin-top: 3.5rem;
        padding: 0 3.6rem 0;
    }
    .headerImage {
        height: 100%;
        width: auto;
    }
    .headerImageContainer {
        aspect-ratio: 1/1;
        height: auto;
        margin-bottom: 0;
    }
    .iconShare {
        transition: filter 500ms;
    }
    .iconShareContainer {
        transition: background-color 500ms;
    }
    .iconShareContainer2 {
        display: none;
    }
    .shareAndSocialIconContainer {
        /* top: 85%;
        margin-top: 2rem;
        padding: 2rem 3.4rem;
        position: absolute;
        transition: transform 0s; */
        transform: translateX(0);
        border-radius: 1rem;
        /* padding-bottom: 4rem ; */
        width: 25rem;
        top: -9rem;
        transition: opacity 500ms, top 500ms, right 500ms;
        right: -6rem;
        transform: translateY(0);
        opacity: 0;
        /* transform: translateY(-50rem); */
        /* transition: transform 500ms; */
        
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 55% 76%, 50% 100%, 43% 75%, 0% 75%);
    }
    .share .iconShare {
    /* Making arrow white */
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1095%) hue-rotate(310deg) brightness(120%) contrast(100%);
    }
    .share .iconShareContainer {
        background-color: var(--DesaturatedDarkBlue);
    }
    .share .avatarNameShareContainer {
        position: static;
        transform: translateX(0);
    }
    .share .shareAndSocialIconContainer {
        position: absolute;
        opacity: 1;
        right: -7rem;
        top: 12rem;
        transition: opacity 1s, top 1s, right 1s ;
        /* transform: translateY(-200%) translateX(105%); */
        
       
    }
}